<p>attack-roll-list works!</p>
<div class="roll-form">
  <span>Roll Parser</span>
  <input type="text" placeholder="Roll Name" [(ngModel)]="rollName">
  <input type="text" placeholder="Roll Formula" [(ngModel)]="rollInput" (keyup.enter)="ParseRoll()">
  <button (click)="ParseRoll()">Parse</button>
</div>
<div class="roll-container">
  <div class="roll" *ngFor="let roll of rolls$ | async | keyvalue; index as i">
    <input type="checkbox" [value]="roll.value.isActive" (click)="toggleActiveRoll(roll.value.id)">
    <app-attack-roll [attackRoll]="roll.value"></app-attack-roll>
  </div>
</div>
