.active {
  border-color: green($color: #000000);
  background-color: rgba(0, 209, 0, 0.301);
}

.card {
  width: 14rem;
  font-size: 18px;
}
.roll-name {
  font-size: 16px;
}
.card-body {
  font-size: 20px;
}